ansible/inventory/group_vars/
ansible/inventory/aws_ec2.yml
ansible/roles/
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/.terraform*
terraform/*.tfstate
terraform/*.tfstate.*
terraform/variables.tf
*.code-workspace